<!DOCTYPE html>
<html lang="sv">
    <head>
        <%- include('../partials/head'); %>
    </head>
 
    <body class="container">
      <div class="main">
        <header><%- include('../partials/header'); %></header>
        <!-- NAV -->
        <%- include('../partials/navbar'); %>
        <!-- NAV END -->
        


        <div class="content">
          <div class="row">
            <h1>Restauranger</h1>
            
            
            
            <div class="restaurangLista">
              <% for(var i=0; i < data.restauranger.length; i++) {%>
              <div>
                <h4><a href='<%- data.restauranger[i].href %>' class='link-primary-color' target="_BLANK"><%- data.restauranger[i].namn %></h4></a>
                <p>
                  Plats: <%- data.restauranger[i].plats %><br />
                  Meny:  <%- data.restauranger[i].meny %><br />
                  Takeaway:  <%- data.restauranger[i].takeaway ? "Möjligt" : "Ej möjligt" %>
                </p>
              </div>
              <% } %>
           

            </div>
          </div>
        </div>
      </div>
 

      <%-include('../partials/script'); %>
  </body>
</html>
